bin/Release/Package-Test.1.0.0.nupkg
bin/Release/netcoreapp3.1/Package-Test.deps.json
bin/Release/netcoreapp3.1/Package-Test.dll
bin/Release/netcoreapp3.1/Package-Test.exe
bin/Release/netcoreapp3.1/Package-Test.pdb
bin/Release/netcoreapp3.1/Package-Test.runtimeconfig.dev.json
bin/Release/netcoreapp3.1/Package-Test.runtimeconfig.json
obj/Release/Package-Test.1.0.0.nuspec
obj/Release/netcoreapp3.1/Package-Test.AssemblyInfo.cs
obj/Release/netcoreapp3.1/Package-Test.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/Package-Test.assets.cache
obj/Release/netcoreapp3.1/Package-Test.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/Package-Test.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/Package-Test.csprojAssemblyReference.cache
obj/Release/netcoreapp3.1/Package-Test.dll
obj/Release/netcoreapp3.1/Package-Test.exe
obj/Release/netcoreapp3.1/Package-Test.genruntimeconfig.cache
obj/Release/netcoreapp3.1/Package-Test.pdb
